@charset "UTF-8";
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

header .header-top {
  font-size: .8em;
  background: #f5f5f5;
  color: #999999;
}

header .header-top .top-left span {
  padding: 15px;
  border-left: 1px solid #dddddd;
  line-height: 45px;
}

header .header-top .top-left span:nth-child(3) {
  border-right: 1px solid #dddddd;
}

header .header-top .top-right i {
  padding: 15px;
  border-right: 1px solid #dddddd;
}

header .header-top .top-right i:nth-child(1) {
  border-left: 1px solid #dddddd;
}

header .header-bottom .logo {
  font-family: 'Open Sans', sans-serif;
  color: #1E69B8;
}

header .header-bottom .menu li a {
  padding: 15px;
  color: #777777;
  line-height: 45px;
}

header .header-bottom .menu li a.active {
  color: #1e69b8;
}

header .header-bottom .menu .droppedItem {
  position: relative;
}

header .header-bottom .menu .droppedItem:hover .droppedMenu {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #f5f5f5;
}

header .header-bottom .menu .droppedItem .droppedMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

header .header-bottom .menu .droppedItem .droppedMenu li {
  padding: 5px;
  border: 1px solid #dddddd;
}

header .header-bottom .menu .droppedItem .droppedMenu li a {
  padding: 10px;
}

.slider {
  background: url(../image/image_01.jpg) no-repeat center/cover;
  height: 90vh;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.slider .slide-text i {
  background: #1e69b8;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  padding: 30px;
}

.slider .slide-text h1 {
  padding: 15px 0;
  font-size: 3em;
}

.slider .slide-text a {
  text-transform: uppercase;
  margin-top: 25px;
}

.slider .slide-text a:hover {
  background: #1E69B8;
}

.slider .slide-text p {
  font-size: 1.5em;
}

.border {
  background: #f5f5f5;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border .border-item h3 {
  font-size: 20px;
  margin-top: 1em;
}

.border .border-item a {
  background: #1e69b8;
  padding: 15px 30px;
  font-size: 16px;
  margin-left: 10em;
}

.border .border-item a:hover {
  color: #ffffff;
  background: blue;
}

.question {
  padding: 85px;
}

.question .question-text h2 {
  font-weight: 100;
  padding: 20px 0;
  border-bottom: 3px solid #1e69b8;
}

.question .question-text p {
  font-size: 18px;
  font-weight: 300;
  padding: 2em 15em;
}

.question .question-items .question-words h4 {
  padding: 20px;
  font-size: 18px;
}

.question .question-items .question-words p {
  font-weight: 100;
}

.question .button a {
  background: #1e69b8;
  color: #dddddd;
  padding: 15px 20px;
  margin-top: 2em;
}

.question .button a:hover {
  background: blue;
}

.image-sc {
  background: #f5f5f5;
}

.image-sc .service {
  margin-left: -30px;
}

.image-sc .service h2 {
  text-align: center;
  font-weight: 300;
  font-size: 33px;
  letter-spacing: 3px;
  padding-top: 20px;
}

.image-sc .service p {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  padding: 15px 8em;
}

.image-sc .service .categories li {
  font-weight: 300;
}

.image-sc .service .categories li::before {
  content: '✔';
}

.image-sc .view-button {
  text-align: center;
}

.image-sc .view-button a {
  margin-top: 2em;
  color: #1e69b8;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: 1px solid #dfdfdf;
}

.image-sc .view-button a:hover {
  color: #ffffff;
  background: #1e69b8;
}

.repair {
  padding: 90px;
}

.repair .repair-text h2 {
  color: #333333;
  font-weight: 300;
}

.repair .repair-text p {
  color: #777777;
  padding: 25px 13em;
  font-size: 18px;
  font-weight: 200;
}

.repair .repair-img a {
  background: #f5f5f5;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  width: 112%;
  text-align: left;
}

.repair .repair-img img {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.repair .repair-img img:hover {
  opacity: 0.8;
}

.repair .repair-button {
  text-align: center;
}

.repair .repair-button a {
  background: #1e69b8;
  margin-top: 45px;
  font-size: 14px;
  font-weight: 100;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  padding: 20px 30px;
}

.repair .repair-button a:hover {
  color: #ffffff;
  background: blue;
}
/*# sourceMappingURL=style.css.map */